:root {
    --background-color-dark: #242424;
    --background-color-light: #ffffff;

    --color-dark: rgba(255, 255, 255, 0.87);
    --color-light: #213547;

    --primary-link: #646cff;
    --primary-link-hover: #535bf2;
    --primary-link-hover-light: #747bff;

    --button-bg-dark: #1a1a1a;
    --button-bg-light: #f9f9f9;

    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;

    color: var(--color-dark);
    background-color: var(--background-color-dark);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: var(--primary-link);
    text-decoration: inherit;
}
a:hover {
    color: var(--primary-link-hover);
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background-color: var(--background-color-dark);
    color: var(--color-dark);
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid var(--button-bg-light);
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--button-bg-dark);
    color: var(--color-dark);
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: var(--primary-link-hover, #535bf2);
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: var(--color-light);
        background-color: var(--background-color-light);
    }

    body {
        background-color: var(--background-color-light);
        color: var(--color-light);
    }

    a:hover {
        color: var(--primary-link-hover-light);
    }

    button {
        background-color: var(--button-bg-light);
        color: var(--color-light);
    }
}
